* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

h1 {
    color: white;
    border: 2px solid magenta;
    padding:2rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 800;
    font-family: sans-serif;
}